#{extends 'main.html' /}
#{set title:'Repository' /}

<div id="repositoryDescription">
<h2>${repository.name} <span style="text-variant:italic">(${repository.owner})</span></h2>
                            
<p>${repository.description}</p> 
</div>

<div id="repositoryInfos">
  <ul>
    <li><a href="#tabs-1">Impact of Committers</a></li>
    <li><a href="#tabs-2">List of all Contributors</a></li>
    <li><a href="#tabs-3">Commits Timeline</a></li>
  </ul>
  <div id="tabs-1">
    
      <h4>Impact of Committers (based on the 100 latest commits)</h4>
      <div id="impactCommitters">
        
    
      </div>
   </div>
  <div id="tabs-2">
    
      <h4>List all Contributors</h4>
       <div id="listContributors">
    
      </div>
  </div>
  <div id="tabs-3">
      <h4>100 Latest Commits</h4>
      <div id="latestCommits"> 
       
      </div> 
  </div>
</div>

<script>
  $(function() {
    $( "#repositoryInfos" ).tabs();
  });
</script>

  
<script type="text/javascript"> 
 
var latestCommits = #{jsAction @Application.latestCommits(repository.owner,repository.name,100) /}

var listContributors = #{jsAction @Application.listContributors(repository.owner,repository.name) /}

var impactCommitters = #{jsAction @Application.impactCommitters(repository.owner,repository.name,100) /}

$("#impactCommitters").append('<p>Loading ...</p>').load(impactCommitters());

$("#listContributors").append('<p>Loading ...</p>').load(listContributors());

$("#latestCommits").append('<p>Loading ...</p>').load(latestCommits());


</script> 
